<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
<link rel="stylesheet" href="./app/css/mycss.css" />

</head>
<body ng-app="myApp">
	<div class="container" ng-controller="AppController">
		<div class="page-header">
			<h1>用户列表</h1>
		</div>
		<div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">There are no users yet.</div>
		<form class="form-horizontal" role="form" ng-submit="addItem(newItem)">
		
		<table>
		      <tr>
		        <th>名称</th>
		        <th>性别</th>
		        <th>生日</th>
		        <th>电话</th>
		        <th>邮箱</th>
		        <th>密码</th>
		        <th></th>
		      </tr>
		      <tr ng-repeat="item in items">
		        <td>
		          <input type="text" id='txt_name_{{item.id}}' ng-model="item.name" class="inactive" readonly />
		        </td>
		        <td> <input type="radio" ng-model="item.sex" class="inactive" readonly /></td>
		        <td> <input type="date" ng-model="item.birthday" class="inactive" readonly /></td>
		        <td> <input type="tel" ng-model="item.mobile" class="inactive" readonly /></td>
		        <td> <input type="email" ng-model="item.email" class="inactive" readonly /></td>
		        <td> <input type="password" ng-model="item.password" class="inactive" readonly /></td>
		        
		        <td>						
		        	<button class="pull-right btn btn-danger" type="button" title="删除" ng-click="deleteItem(item)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
		        </td>
		      </tr>
		    </table>		
		
		
	
			<hr />
<!-- 
			<div class="input-group">
				<input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..." /> <span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>
			</div>
 -->			
		</form>
	</div>
	<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="./bower_components/lodash/lodash.min.js"></script>
	<script type="text/javascript" src="./app/js/app.js"></script>
	<script type="text/javascript" src="./app/js/controllers.js"></script>
	<script type="text/javascript" src="./app/js/services.js"></script>
</body>